# Copy this to .env.local and fill in real values
# In Vercel: add these under Project > Settings > Environment Variables

TF_JWT_SECRET: 6usZpNjZtRPscpjAUbvm1eug19Wx6OfxeRha3M6V
TF_REQUESTING_TOKEN: Xig_Ddl6hr5Dy17j82smYk9FJx0MQHPnmpvTL0pO1-g
TF_BASE_URL: https://app200.sdk.thirdfactor.ai
TF_ISSUER: app200
